.headerSection {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #444444;
    font-family: cursive;
    color: rgb(165, 151, 190);
    // > * {
    //     text-transform: uppercase;
    //   } apply to all children elements
    .branding {
      font-size: 30px;
    }
    .headerNav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 20px;
      
      
      .navItem {
        font-size: 30px;
        color: rgb(165, 151, 190);
        &:hover {
          color: #535bf2;
        }
      }
    }
  }

