.ResSection{
  padding: 10%;
  .ResHeader {
    text-align: center;
    font-family: cursive;
    font-size: 4.2rem;
  }
  .Download {
    background-color: transparent;
    border: 2px solid purple;
    color: purple;
    border-radius: 30px;
    cursor: pointer;
  }

  .Download:hover {
    background-color: rgb(203, 174, 30);
    color: black;
  }
  
  .ResContainer {
    .ResSummaryContainer {
      font-family: cursive;
      font-size: 1.2rem;
    }
    display: flex;
    column-gap: 50px;
    > div {
      flex: 0 0 50%;
    }
    .ResSkills {
      h3 {
        margin-bottom: 0;
        margin-top: 25px;
      }
      ul{
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        &#Skills li {
          background-color: rgb(226, 192, 26);
          // color: black;
        }
         &#Languages li {
          background-color: pink;
          // color: black;
        }
         &#FL li {
          background-color: rgb(59, 162, 236);
        }
         &#Other li {
          background-color: rgb(187,154,224);
        }
        li {
          display: inline-block;
          margin: 5px 10px 5px 0;
          padding: 5px 15px;
          border-radius: 20px;
          background-color: blue;
          color: white;
          font-weight: 700;
          font-size: 0.8rem;
        }
      }
    }
  }
}


